@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Open Sans");
}
body {
  font-family: "Roboto", "Arial", sans-serif;
}
@media (min-width: 990px) {
  .aside {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    order: 1;
  }
  .main {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    order: 2;
  }
}
.page {
  max-width: 1366px;
  margin: auto;
  height: 5000px;
}

.header-line {
  padding-top: 22.35px;
  padding-left: 113px;
  display: flex;
  align-items: center;
}
.header-logo {
  color: rgb(5, 172, 223);
  font-weight: bold;
  font-size: 24.58px;
  letter-spacing: 6px;
}
.logo-text {
  display: table-cell;
  font-size: 11px;
  padding-left: 113px;
}
.nav {
  text-decoration: none;
  font-size: 14px;
  margin-left: 550px;
  word-spacing: 20px;
  margin-top: -40px;
}
.nav-item1 {
  word-spacing: 2px;
  text-decoration: none;
  color: black;
}
.nav-item1:hover {
  text-decoration: underline;
}
.nav-item2 {
  text-decoration: none;
  color: black;
}
.nav-item2:hover {
  text-decoration: underline;
}
.nav ul {
  list-style: none;
}
.nav > ul > li {
  float: left;
  width: 120px;
  position: relative;
}
.nav li a {
  display: block;
  background: white;
  color: #060a13;
  text-decoration: none;
}
.nav li .second {
  padding: 1px;
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 10px;
  z-index: 100;
}
.nav li:hover .second {
  display: block;
}
.nav li li {
  word-spacing: 1px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  background: white;
}
.nav li:hover {
  text-decoration: underline;
}

/* .nav-item2:hover {
  display: block;
  position: absolute;
  text-decoration: underline;
} */
.nav-item3 {
  text-decoration: none;
  color: white;
  padding: 5px 14px 5px;
  text-rendering: auto;
  display: inline;
  text-align: start;
  margin: 0em;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(0, 155, 245);
}

.nav-item3:hover {
  color: aqua;
  background-color: white;
  border: 2px solid blue;
}
.nav-item4 {
  text-decoration: none;
  word-spacing: 2px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}
.nav-item4:hover {
  text-decoration: underline;
}
.h {
  position: absolute;
  z-index: 1999;
  display: flex;
  padding-left: 220px;
  padding-top: 100px;
  font-weight: bold;
  font-size: 30px;
}
.t {
  position: absolute;
    z-index: 999;
    display: flex;
    padding-left: 220px;
    padding-top: 75px;
    max-width: 591px;
    border: 1px black;
    margin-top: 74px;
    background-color: #fff;
    opacity: 0.7;
    font-size: 20px;
    height: 110px;
}
.slider {
  /*Slider preset*/
  /* height: 540px; */
  overflow: hidden;
  z-index: 1;
}
.slider ul {
  margin: 0;
  padding: 0;
}
.slider .bx-wrapper {
  position: relative;
}
.slider .bx-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Пагинация */
.slider .bx-pager {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  text-align: left;
  padding-left: 180px;
}
.slider .bx-pager-item {
  display: inline-block;
  margin: 0 4px;
  position: relative;
  z-index: 100;
}
.slider .bx-pager-item a {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: 999px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #999;
}
.slider .bx-pager-item a.active {
  background: #ffe318;
}
.slider .bx-pager-item a:hover {
  background: #f3e792;
}

/* Кнопки управления */
.slider .bx-controls-direction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider .bx-controls-direction a:hover {
  filter: brightness(90%);
}
.slider .bx-prev {
  background: url(https://snipp.ru/demo/193/prev.png) 0 0 no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -15px;
  top: 50%;
  left: 30px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000;
}
.slider .bx-next {
  background: url(https://snipp.ru/demo/193/next.png) 0 0 no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -15px;
  top: 50%;
  right: 30px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus { 
  background-position: 1px 0;
}
.text-info1 {
  padding-top: 81px;
  display: flex;
  justify-content: center;
  font-size: px;
  font-family: math;
  font-size: 36px;
  /* max-width: 719px; */
  width: 800px;
  margin: auto;
  text-align: center;
}
.text-info2 {
  padding: 46px;
  display: flex;
  justify-content: center;
  font-family: math;
  font-size: 18px;
  max-width: 859px;
  width: 1141px;
  margin: auto;
  text-align: justify;
}
.production {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}
.tab-prod {
  justify-content: center;
  font-family: math;
  margin: auto;
  text-align: center;
  height: 643px;
  width: 1140px;
}
.Production1 {
  border: 1px solid black;
  position: absolute;
  font-size: 18px;
  text-align: center;
}
.Production2 {
  border: 1px solid black;
  /* position: absolute; */
  font-size: 18px;
  text-align: center;
  display: inline-block;
}
.Production3 {
  border: 1px solid black;
  position: absolute;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin-left: 15px;
}
.Production4 {
  border: 1px solid black;
  position: absolute;
}
.Production5 {
  border: 1px solid black;
  position: absolute;
    display: inline-block;
    padding-top: 368px;
    padding-left: 39px;
}
.zakaz {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  padding-top: 350px;
}
.tab-preim {
  letter-spacing: 150px;
  display: flex;
  letter-spacing: 1px;
  text-align: center;
  font-size: 16px;
}
.zakazchiki {
  padding-top: 151px;
  font-size: 30px;
  text-align: center;
}

.slider2 {
  /* padding-top: 151px; */
  max-height: 220px;
  overflow: hidden;
  display: flex;
  word-spacing: 20px;
  padding-left: 100px;
}
.slider2 ul {
  margin: 0;
  padding: 0;
  display: block;
}
.slider2 ul li img {
  width: 100%;
  height: auto;
}

img.img1 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
img.img1:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}
img.img2 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
img.img2:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}
img.img3 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  margin-top: 25%;
}
img.img3:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}
img.img4 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
img.img4:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}
img.img5 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
img.img5:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}
img.img6 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  margin-top: 50%;
}
img.img6:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}

.slider2 .bx-wrapper {
  position: relative;
  margin: 0 auto;
}
.bx-viewport {
  z-index: 1;
}
.slider2 .bx-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Кнопки управления */
.slider2 .bx-controls-direction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider2 .bx-controls-direction a:hover {
  filter: brightness(90%);
}
.slider2 .bx-prev {
  background: url(https://snipp.ru/demo/193/prev.png) 0 0 no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -15px;
  top: 50%;
  left: -50px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000;
}
.slider2 .bx-next {
  background: url(https://snipp.ru/demo/193/next.png) 0 0 no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -15px;
  top: 50%;
  right: -50px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus { 
  background-position: 1px 0;
}
.ending-logo {
  color: rgb(5, 172, 223);
  font-weight: bold;
  font-size: 24.58px;
  letter-spacing: 6px;
  text-align: left;
  padding-bottom: 40px;
  padding-left: 100px;
}
.ending-line {
  padding-top: 100px;
  display: flex;
  background-color: #c3c3c3;;
  flex-direction: row;
  max-height: 180px;
  max-width: 1474px;
  margin: 20px -59px 20px 6px;
}
.ending-text {
  display: tablecell;
  font-size: 11px;
  letter-spacing: normal;
  word-spacing: 3px;
  color: #060a13;
  text-decoration: none;
}
.sprites {
  padding-top: 25px;
}
.num1 {
  padding-left: 100px;
  flex-direction: column;
  font-size: 18px;
  line-height: 30px;
}
.num1 :hover {
  text-decoration: underline;
}
.num2 {
  padding-left: 257px;
  flex-direction: column;
  font-size: 18x;
  text-align: start;
  line-height: 30px;
  text-decoration: none;
}
.num2 :hover {
  text-decoration: underline;
}
.num3 {
  padding-left: 217px;
  flex-direction: column;
  size: 18x;
  text-align: start;
  line-height: 30px;
}
.num3 :hover {
  text-decoration: underline;
}
.conf {
  color: #999;
  padding-top: 25px;
  font-size: 11px;
  text-decoration: none;
}
.conf :hover{
  text-decoration: underline;
}
.numb2 {
  text-decoration: none;
  color: #060a13;
}
